<div id="header">
    <div id="header-content" class="container-fluid">
        <div class="header-left d-flex align-items-center">
            <img class="logo" src="/images/666b757a8404b2a0b6bf5b72a80360d1262198b2.png" alt="logo">
            <nav class="ms-3">
                <ul class="nav-list">
                    <li><a href="#" class="active">Início</a></li>
                    <li><a href="#">Séries</a></li>
                    <li><a href="#">Filmes</a></li>
                    <li><a href="#">Originais</a></li>
                    <li><a [routerLink]="['/criar-filme']" routerLinkActive="active">Novos Filmes</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-right d-flex align-items-center">
            <div class="search-center">
                <input type="text" class="form-control form-control-sm" placeholder=" " aria-label="Search">
                <div class="search-label">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    <span>Search</span>
                </div>
            </div>
            <img class="avatar ms-3" src="https://i.pravatar.cc/40" alt="avatar">
        </div>
    </div>
</div>