<div class="signin-wrapper d-flex align-items-center justify-content-center">
    <div class="signin-card">
        <h1 class="mb-4 text-white fw-bold">Cadastre-se</h1>

        <form novalidate>
            <div class="mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="Seu nome completo">
            </div>

            <div class="mb-3">
                <input type="email" class="form-control form-control-lg" placeholder="Seu melhor e-mail">
            </div>

            <div class="mb-4">
                <input type="password" class="form-control form-control-lg" placeholder="Sua senha">
            </div>

            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-danger btn-lg">Entrar na conta</button>
            </div>

            <div class="text-center text-secondary">
                Já tem uma conta? <a href="/login" class="signin-login-link fw-semibold text-decoration-none">Faça Login</a>
            </div>
        </form>
    </div>
</div>
